<body class="h-100 bg-dark">
  <div class="container">
    <div class="bg-dark">
      <div class="row">
        <div class="text-center mx-auto text-white bg-dark">
          <h1>Life Is Beautiful </h1>
        </div>
      </div>
    </div>
  </div>
</body>