
  <div class="row">
    <div class="mx-auto mt-3">
      <div class="btn">
        <i class="fa-brands fa-instagram fa-lg" style="color: #fff;"></i>
      </div>
      <div class="btn">
        <i class="fa-brands fa-twitter-square fa-lg" style="color: #fff;"></i>
      </div>
      <div class="btn">
        <i class="fa-brands fa-facebook-square fa-lg" style="color: #fff;"></i>
      </div>
    </div>
  </div>

  <div class="row">
    <div class='mx-auto mt-2 mb-2'>
    	<p>2022.Life is beautiful</p>
    </div>
  </div>